<h1>Visitor Information</h1>
<p>
  <%= @greeting %>
  You have a new visitor in your Home. Please go and confirm who it is?
  Click the link to verify your visitor.
  <%= link_to "Show this visitor", @visitor %>
</p>
