<p style="color: green"><%= notice %></p>

<div class="container-fluid" style="background-color:#3B9C89">
  <%= render @visitor %>
</div>

<div>
  <%= link_to "Edit this visitor", edit_visitor_path(@visitor) %> |
  <%= link_to "Visitors", visitors_path %>

  <%#= button_to "Destroy this visitor", @visitor, method: :delete %>
</div>
