<div class="section1 d-flex flex-column bd-highlight text-white bg-gradient">
  <div class="p-2 bd-highlight"><p class="fs-1">Move Fast and Don't Break Privacy</p></div>
  <div class="p-2 bd-highlight"><p class="fs-5">Personally Identifiable Information (PII) is a fundamental part of how your customers use products, so you need an efficient way to manage it without putting the data at risk. This requires you to re-think how your PII data is stored and used.</p></div>
  <div class="p-2 bd-highlight"><p class="fs-5">Enter Skyflow: protect your sensitive data without losing its utility. Sign up for a demo to learn how Skyflow is different.</p></div>
</div>


<div class="use lh-lg">
<div class="row">
  <div class="col-sm-4">
    <div class="card text-center border-0">
     
      <div class="card-body">
        <%= image_tag "web1.svg", height:"120" ,width:"120" %>
        <div class="card-title fs-3">Faster Time to Market</div>
        <div class="card-text fs-6">Achieve compliance with a simple integration that removes all sensitive data from your environment.</div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center border-0">
     
      <div class="card-body">
        <%= image_tag "web2.svg", height:"120" ,width:"120" %>
        <div class="card-title fs-3">Secure Integrations and Workflows</div>
        <div class="card=text fs-6">Integrate with third-party services, run workflows, and more without storing any sensitive data.</div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card border-0">
    <div class="card-body text-center">
        <%= image_tag "web3.svg", height:"120" ,width:"120" %>
        <div class="card-title fs-3">Less Complexity</div>
        <div class="card-text fs-6">Replace pricey point solutions with a cost-effective data privacy vault designed for a variety of use cases.</div>
    </div>
    </div>
  </div>
</div>
</div>

<div class="section2 d-flex flex-column bd-highlight text-black bg-gradient">
  <div class="p-2 bd-highlight">
   <div class="row">
    <div class="col-sm-6" >
        <%= image_tag "PII diagram.webp", height:"729" ,width:"582"%>
    </div>
    <div class="diagram col-sm-6 text-center text-break">
     <p class="fs-1">The most flexible solution on the market
     <p class="fs-5">Skyflow’s data privacy vault takes minutes to set-up and is built using a zero-trust architecture that protects your sensitive data at rest, in storage and in transit. 
          Avoid the limitations of proxy-based services and the risk of developing an in-house solution and let us show you why Skyflow is the better way </p></p>
    </div>
   </div>
  </div>
</div>

<div class="section3 d-flex flex-column bd-highlight text-black bg-gradient">
  <div class="p-2 bd-highlight"><p class="fs-1">Learn More</p></div>
  <div class="p-2 bd-highlight"><p class="fs-5">Avoid the limitations of proxy-based services or the cost and risks of developing an in-house solution. Let us show you why Skyflow is the better way — sign up for a demo today.</p></div>
</div>

