<div class="container-fluid pt-3 mt-3 text-white" style='background-color: #3fa590;'>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 text-center text-dark">
      <h1>My First Bootstrap Page</h1>
      <p style="font-size: 30px;">We are all very different. We were born in different cities, at different times, we love different music, food, movies. But we have something that unites us all. It is our company. We are its heart. We are not just a team, we are a family.</p>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<div class="container-fluid pt-3 mt-3 text-white" style='background-color: #ffffff;'>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 text-center text-dark">
      <div class="row">
        <div class="col-4">
          <%= image_tag("first.png", height: '150') %>
          <h4>Creativity</h4>
          <p>
            It's the ability to think outside the box. We make decisions, create something new and generate a lot of ideas.
          </p>
        </div>
        <div class="col-4">
          <%= image_tag("second.png", height: '150') %>
          <h4>Worldwide</h4>
          <p class="mbr-text mbr-fonts-style display-7">
            All sites you make with Mobirise are mobile-friendly. You don't have to create a special mobile version of your site.
          </p>
        </div>
        <div class="col-4">
          <%= image_tag("third.png", height: '150') %>
          <h4>Unique Styles</h4>
          <p class="mbr-text mbr-fonts-style display-7">
            Mobirise offers many site blocks in several themes, and though these blocks are pre-made, they are flexible.
          </p>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
