<div class="section1 d-flex flex-column bd-highlight text-white bg-gradient">
  <div class="p-2 bd-highlight"><p class="fs-1">There’s no place like home.</p></div>
  <div class="p-2 bd-highlight"><p class="fs-5">Smart home systems achieved great popularity in the last decades as they increase the comfort and quality of life. This system identifies and remind  the residential visitors & improve the security convenience of the living environment.</p></div>
  <div class="p-2 bd-highlight"><p class="fs-5">Track our guest's and Trap the stranger's is security based visitor recognition and remainder system.</p></div>
</div>


<div class="use lh-lg">
<div class="row">
  <div class="col-sm-4">
    <div class="card text-center border-0">
     
      <div class="card-body">
        <%= image_tag "web1.svg", height:"120" ,width:"120" %>
        <div class="card-title fs-3">Faster Time to Market</div>
        <div class="card-text fs-6">Achieve compliance with a simple integration that removes all sensitive data from your environment.</div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card text-center border-0">
     
      <div class="card-body">
        <%= image_tag "web2.svg", height:"120" ,width:"120" %>
        <div class="card-title fs-3">Secure Integrations and Workflows</div>
        <div class="card=text fs-6">Integrate with third-party services, run workflows, and more without storing any sensitive data.</div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card border-0">
    <div class="card-body text-center">
        <%= image_tag "web3.svg", height:"120" ,width:"120" %>
        <div class="card-title fs-3">Less Complexity</div>
        <div class="card-text fs-6">Replace pricey point solutions with a cost-effective data privacy vault designed for a variety of use cases.</div>
    </div>
    </div>
  </div>
</div>
</div>

<div class="section2 d-flex flex-column bd-highlight text-black bg-gradient">
  <div class="p-2 bd-highlight">
   <div class="row">
    <div class="col-sm-6" >
        <%= image_tag "diagram.svg", height:"629" ,width:"582"%>
    </div>
    <div class="diagram col-sm-6 text-center text-break">
     <p class="fs-1">Track Our Guest's And Trap the Stranger's
     <p class="fs-5">Track our guests and trap the stranger is based on embedded IOT technology
     and a web based application this system is used as residential access control
     management based on visitor recognition and visitors remainder. </p></p>
    </div>
   </div>
  </div>
</div>

<div class="section3 d-flex flex-column bd-highlight text-black bg-gradient">
  <div class="p-2 bd-highlight"><p class="fs-1">Learn More</p></div>
  <div class="p-2 bd-highlight"><p class="fs-5">Avoid the unwanted crime and risks in your residential area . Sign up and Track.</p></div>
</div>

