<h3 class = "h3"> Dashboard </h3>
<div class="row">
  <div class="col-sm-3">
    <div id ="g" class ="card text-center" class="card">
      <div class="card-body">
        <h5 class="card-title">GUEST</h5>
        <p class="card-text">10(eg)</p>
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div id = "g"class = "card text-center" class="card">
      <div class="card-body">
        <h5 class="card-title">STRANGERS</h5>
        <p class="card-text">02(eg)</p>
        <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
      </div>
    </div>
  </div>
</div>
</div>
<br>
<div class="col-sm-6">
<div class="card">
<div class ="card-body">
<h4>Daily visit</h4>
<table class="table table-bordered border-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Date and Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>10/05/2022 10:00am</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>10/05/2022 10:00am</td>
    </tr>
    <tr>
      <td>Larry </td>
      <td>@twitter</td>
      <td>10/05/2022 10:00am</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
<br>
<div class="col-sm-6">
<div class="card">
<div class ="card-body">
<h4>Stranger to Guest</h4>
<table class="table table-bordered border-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
    <tr>
      <td>Larry </td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>


