@import "bootstrap";
.navbar-link {
   font-size: 20px;
   color:  #000000;
   text-decoration: none;
   padding: 10px;
}

.navbar-link:hover {
  background-color:  #008B8B;
  color: #000000;
}

.btn {  
  font-size: 20px;
  border:none;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.row{
  padding-left: 10px;
}
#g{
  background-color: aqua;
}